@import 'bootstrap/dist/css/bootstrap.css';

#app {
  margin: 0 auto;
  height: 100vh;
  font-weight: normal;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --cell-open-background: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
  --background-color: rgba(0, 0, 0, 0.5);
  --text-color: #ffffff;
  --cell-open-background: #252323;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
